
.menu-body{
    background: linear-gradient(45deg,#000000,#4169e1 50%,white 20%) !important;
}

.menu-links{
    color:#d7ba86 !important
}

.ul-body{
   
    background: linear-gradient(45deg,#000000,#4169e1 60%,white 20%) !important;
    
}

.active-link{
    background-color: #d7ba86 !important;
    color: white!important;
    width: 100%;
    
}


.nav-item{
    display: flex !important;
    width: 100% !important;
    justify-content: flex-start !important;
}