@property --a{
    syntax: '<percentage>'; 
    inherits: false;
    initial-value: 23%;
}

.sidebar{
    z-index: 1999;
}

.menu-body{
    background: linear-gradient(45deg,rgba(65, 105, 225, .86),rgba(0, 0, 0, .85) var(--a),rgba(255, 255, 255, 0.2) 20%) !important;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1)!important;
    backdrop-filter: blur(5px)!important;
    -webkit-backdrop-filter: blur(5px)!important;
    transition: --a 0.5s;
    z-index: 1;
    min-width: 120px;
    overflow: hidden;
}

.home-link{
    --a:23%
}

.resume-link{
    --a:45%
}

.portfolio-link{
    --a:64%
}

.contact-link{
    --a:88%
}

.menu-header{
    background: rgba(255, 255, 255, 0.2)!important;
   
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1)!important;
    backdrop-filter: blur(5px)!important;
    -webkit-backdrop-filter: blur(5px)!important;
  
    min-width: 120px;
    
}

.menu-links{
    color:rgba(255, 255, 255,)!important;
}

.ul-body{
   
    background: linear-gradient(45deg,#000000,#4169e1 50%,rgba(255, 255, 255, 0.2) 20%) !important;
    
}

.active-link{
    background-color: none;
    color:#d7ba86!important;
    width: 100%;
    font-weight: bold;
    
}

.absorbed-link{
    color:rgba(255, 255, 255, 0.8)!important;

}


.nav-item{
    display: flex !important;
    width: 100% !important;
    justify-content: flex-start !important;
}

@media (max-width: 767px) {
    .absorbed-link{
        color:rgba(0, 0, 0, 0.8)!important;
    
    }
    .rounded-pill{
        border-radius: 0px !important;
     
    }
    .active-link{
        background-color:#d7ba86;
        color: white!important;
        width: 100%;
        
    }
    .home-link{
        --a:20%
    }
    
    .resume-link{
        --a:35%
    }
    
    .portfolio-link{
        --a:50%
    }
    
    .contact-link{
        --a:65%
    }
}
