.experience ul{
    text-align: left !important;
    
}
.experience-card{
    position: relative;
    justify-self: center;
    width:60vh;
    height:60vh;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius:20%;
    background: rgba(255, 252, 252, 0.2);
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(1px);
    z-index: 3
}
.experience{
    justify-content:start;
    text-align: start;
}

.experience h3, h4{
    font-family: "Oxygen", serif;
    font-weight: 300;
    font-style: normal;
}