.App {
  text-align: center;
}


.menuIcon:hover{
  border-color:#d7ba86!important;
 
  color: #d7ba86 !important;
}

.menuIcon{
  background:linear-gradient(rgba(65, 105, 225, .85),rgba(0, 0, 0, .7)) !important;
  border-color:white!important;
  backdrop-filter: blur(1.4px);
 
  color: white !important;
}

.menuIcon:active{
  background:linear-gradient(white,white) !important;
  border-color:#d7ba86!important;
 
  color: #d7ba86 !important;
}