.App {
  text-align: center;
  overflow-x: hidden;
}


.menuIcon:hover{
  border-color:#d7ba86!important;
 
  color: #d7ba86 !important;
}

.menuIcon{
  background:linear-gradient(rgba(65, 105, 225, .85),rgba(0, 0, 0, .7)) !important;
  border-color:white!important;
  backdrop-filter: blur(1.4px);
 
  color: white !important;
}

.menuIcon:active{
  background:linear-gradient(white,white) !important;
  border-color:#d7ba86!important;
 
  color: #d7ba86 !important;
}

#contact, #experience, #projects{
  font-family: "DM Serif Text", serif;
  font-weight: 100;
  font-style: normal;
}

#home{
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}